html

    head
    title Title
    link(href='./css/style.css' rel='stylesheet')

    h1 Click on the catt
    article
        header
            h2 Name
        figure
            img.big.small.trans(src='img/cat.jpg')
        p Age: 7
        p Weight 5kg


script(src='./js/main.js')
